<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Random Apis Blog</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="./stylesheet.css" type="text/css" />
    <style type="text/css">.body { width: auto; }</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=font1|font2|etc"
      type="text/css"
    />
  </head>
  <body>
<h1>Welcome to Random Facts and Images</h1>
    <h1>Random Events</h1>
    <p> {{events}}</p>
   
    <h1>Are You Bored?</h1>
    <p> {{activity}}</p>

    
    <h1>Random Dog Breeds?</h1>
    <img src="{{ dog }}" alt="Random Dog Image">
    
  </body>
</html>